{% extends "base_amoeba.html" %}
{% load resize static %}


{% block twitter %}
    {% now "Y" as year %}
    {% now "m" as month %}
    {% now "d" as day %}
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% url 'games:image' year month day %}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% url 'games:image' year month day %}">
    <meta itemprop="image" content="{{ request.scheme }}://{{ request.get_host }}{% url 'games:image' year month day %}">
{% endblock %}

{% block modal %}
    <div class="modal" id="result-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="result-modal-title">Result</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="card-img-top mx-auto d-block" src="" id="result-card-img-top" alt="Game cover">
                        </div>
                        <div class="card-body col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" id="card-developer"></li>
                                <li class="list-group-item" id="card-platform"></li>
                                <li class="list-group-item" id="card-genre"></li>
                            </ul>
                            <a href="#" class="btn btn-primary" id="result-link" target="_blank">Link to Adventure
                                Gamers</a>
                        </div>
                    </div>
                </div>
                {% if playable %}
                <div class="modal-footer">
                    <div class="row" id="share-with-twitter">
                        <div class="col-6 ms-auto">
                            <img class="offset-sm-2 col-sm-8 col-11 offset-1 screenshot rounded ms-auto" id="img-twitter"
                                 src="{{ game.screenshots.5 | resize }}" alt="Image for twitter">
                            <div class="offset-sm-2 col-sm-8 col-12 text-center">
                                <br id="br-twitter">
                            </div>
                        </div>
                        <div class="col-6 ms-auto">
                            <h5 class="card-title">Share with:</h5>
                            <span class="btn-social btn-twitter"><i class="bi bi-twitter"></i></span>
                            <span class="btn-social btn-whatsapp"><i class="bi bi-whatsapp"></i></span>
                            <span class="btn-social btn-telegram"><i class="bi bi-telegram"></i></span>
                            <span class="btn-social btn-clipboard"><i class="bi bi-clipboard2-plus-fill"></i></span>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                Result copied to clipborard.
            </div>
        </div>
    </div>

    <div class="modal" id="modal-stats" tabindex="-2">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="bi bi-bar-chart-fill"></i> Stats</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm">
                                    <div class="card-body">
                                        <h2 class="card-title pricing-card-title" id="stats-played"></h2>
                                        Played
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm">
                                    <div class="card-body">
                                        <h2 class="card-title pricing-card-title" id="stats-won"></h2>
                                        Won
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm">
                                    <div class="card-body">
                                        <h2 class="card-title pricing-card-title" id="stats-winpercent"></h2>
                                        Win %
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm">
                                    <div class="card-body">
                                        <h2 class="card-title pricing-card-title" id="stats-current"></h2>
                                        Current Streak
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mb-4 rounded-3 shadow-sm">
                                    <div class="card-body">
                                        <h2 class="card-title pricing-card-title" id="stats-max"></h2>
                                        Longest Streak
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title">Guess distribution</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="col-1">1:</span>
                                <span id="progress-1" class="placeholder"></span>
                                <span id="stats-1" class="col-2"></span> %
                            </li>
                            <li class="list-group-item"><span class="col-1">2:</span>
                                <span id="progress-2" class="placeholder"></span>
                                <span id="stats-2" class="col-2"></span> %
                            </li>
                            <li class="list-group-item"><span class="col-1">3:</span>
                                <span id="progress-3" class="placeholder"></span>
                                <span id="stats-3" class="col-2"></span> %
                            </li>
                            <li class="list-group-item"><span class="col-1">4:</span>
                                <span id="progress-4" class="placeholder"></span>
                                <span id="stats-4" class="col-2"></span> %
                            </li>
                            <li class="list-group-item"><span class="col-1">5:</span>
                                <span id="progress-5" class="placeholder"></span>
                                <span id="stats-5" class="col-2"></span> %
                            </li>
                            <li class="list-group-item"><span class="col-1">6:</span>
                                <span id="progress-6" class="placeholder"></span>
                                <span id="stats-6" class="col-2"></span> %
                            </li>
                            <li class="list-group-item"><span class="col-1">X:</span>
                                <span id="progress-0" class="placeholder"></span>
                                <span id="stats-0" class="col-2"></span> %
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1>You have 6 tries to guess today's Point&Click game...</h1>
        </div>

        {% if playable %}
        <div class="row" id="searchbox">

            <div class="offset-lg-3 col-md-10 col-9 col-lg-5  twitter-typeahead" id="remote">
                <input type="text" class="typeahead tt-input" id="input"
                       placeholder="Guess the point & click game...">
            </div>
            <div class="col-md-1 col-1">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-submit btn-outline-darkgreen" id="submit">Submit
                    </button>
                </div>
            </div>
        </div>
        {% endif %}


        <div class="row">
            <div class="container-fluid d-flex justify-content-center p-2 col-xs-12 col-md-12 col-lg-10 col-xl-6">
                <img class="screenshot rounded mx-auto hide" id="img0" src="{{ game.screenshots.5 | resize }}"
                     alt="First screenshot">
                <img class="screenshot rounded mx-auto hide" id="img1" src="{{ game.screenshots.4 | resize }}"
                     alt="Second screenshot">
                <img class="screenshot rounded mx-auto hide" id="img2" src="{{ game.screenshots.3 | resize }}"
                     alt="Third screenshot">
                <img class="screenshot rounded mx-auto hide" id="img3" src="{{ game.screenshots.2 | resize }}"
                     alt="Fourth screenshot">
                <img class="screenshot rounded mx-auto hide" id="img4" src="{{ game.screenshots.1 | resize }}"
                     alt="Fifth screenshot">
                <img class="screenshot rounded mx-auto hide" id="img5" src="{{ game.screenshots.0 | resize }}"
                     alt="Sixth screenshot">
            </div>
        </div>
        <div class="row">
            <div class="container-fluid d-flex justify-content-center p-2">
                <div class="btn-group" role="group">
                    <button id="button0" type="button" class="btn btn-outline-darkgreen guess">1</button>
                    <button id="button1" type="button" class="btn btn-outline-darkgreen guess">2</button>
                    <button id="button2" type="button" class="btn btn-outline-darkgreen guess">3</button>
                    <button id="button3" type="button" class="btn btn-outline-darkgreen guess">4</button>
                    <button id="button4" type="button" class="btn btn-outline-darkgreen guess">5</button>
                    <button id="button5" type="button" class="btn btn-outline-darkgreen guess">6</button>
                </div>
            </div>
        </div>
        {% if playable %}
        <div class="row">
            <div class="container-fluid d-flex justify-content-center p-2">
                <div class="btn-group" role="group">
                    <i id="result0" class="bi bi-hand-index color-grey hide"></i>
                    <i id="result1" class="bi bi-hand-index color-grey hide"></i>
                    <i id="result2" class="bi bi-hand-index color-grey hide"></i>
                    <i id="result3" class="bi bi-hand-index color-grey hide"></i>
                    <i id="result4" class="bi bi-hand-index color-grey hide"></i>
                    <i id="result5" class="bi bi-hand-index color-grey hide"></i>
                </div>
            </div>
        </div>
        {% endif %}
        {% if playable %}
        <div class="row">
            <div class="container-fluid d-flex justify-content-center p-2 alert alert-info" id="divguesses">
                <span id="remaining"></span>&nbsp;guesses remaining.
            </div>
        </div>
        {% else %}
            <div class="container-fluid d-flex justify-content-center p-2 alert alert-info" id="divguesses">
                <a href='#' onclick='show_game_data(undefined, window.result);'>View solution</a>
            </div>
        {% endif %}
        {% if playable %}
        <div class="row">
            <div class="container-fluid d-flex justify-content-center p-2">
                <ul id="guesses-list" class="list-group"></ul>
            </div>
        </div>
        {% endif %}

    </div>
{% endblock %}

{% block inline_javascript %}
    {{ block.super }}
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

    <script>
        $(function () {
            let titlesDisplay = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                sufficient: 1,
                limit: 100,
                remote: {
                    wildcard: '%QUERY',
                    url: "/game-autocomplete/?q=%QUERY",
                    //transform: response => $.map(response.results, game => ({value: game.text}))
                }
            });
            titlesDisplay.initialize();

            $('#remote .typeahead').typeahead({
                    classNames: {
                        input: 'form-control',
                        suggestion: 'list-group-item',
                        hint: 'form-control'
                    },
                    minLength: 1,
                    highlight: true,
                    hint: true
                },
                {
                    name: 'games',
                    limit: 20,
                    source: titlesDisplay.ttAdapter(),
                    //displayKey: 'value'
                });

            let result = {"code": "{{ result }}", "id": "{{ game.id }}"};
            let csrf_token = $('{% csrf_token %}');
            init_wordle(result, csrf_token.attr("value"));
        });

    </script>

{% endblock %}
